<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2" href="/">
      <img src="../../images/letter-h.png" alt="my-logo" height="25px" width="25px">
    </a>
  <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
     <a class="py-2 d-none {{#if navProject}}active{{/if}} d-md-inline-block"  href="/projects">Projects</a>
    <a class="py-2 d-none {{#if navBlog}}active{{/if}} d-md-inline-block" href="/blog">Blog</a>
    <a class="py-2 d-none d-md-inline-block" href="/about">About</a>
    <a class="py-2 d-none d-md-inline-block" href="/resume">Resume</a>
    <a class="py-2 d-none {{#if navContact}}active{{/if}} d-md-inline-block" href="/contact">Contact</a>
    <a class="py-2 d-none d-md-inline-block" href="/login">Admin</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/projects">Projects<span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/contact">Contactt</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/resume">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Admin">Admin</a>
      </li>
    </ul>
    {{!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> --}}
  </div>
</nav>