<div class="album bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-3 mt-4 project-sb">
            <div>
                <img src="/images/danika.jpg" height="200px" width="200px">
            </div>
                <hr>
                <div class="my-3 project-sidebar-block">
                    <h5>Social profiles</h5>
                </div>
             <div class="">
                  <ul class="social">  
                    <li>    
                         <a><i class="fab fa-linkedin"></i></a> 
                      </li>
                      <li>   
                         <a><i class="fab fa-github"></i></a> 
                       </li>
                        <li>    
                         <a><i class="fab fa-twitter"></i></a>  
                      </li>
                        <li>    
                         <a><i class="fab fa-facebook"></i></a>  
                      </li>
                       <li>    
                         <a><i class="fab fa-nodejs"></i></a> 
                      </li>
                  </ul>
            </div>
        <hr>
            <div>
                <h2 class="static-side-bar">About this Project</h2>
                <div class="">
                  <ul class="social">  
                    <li>    
                         <a><i class="fab fa-node-js"></i></a> 
                      </li>
                      <li>   
                         <a><i class="fab fa-js"></i></a> 
                       </li>
                        <li>    
                         <a><i class="fab fa-html5"></i></a>  
                      </li>
                        <li>    
                         <a><i class="fab fa-css3"></i></a>  
                      </li>
                       <li>    
                         <a><i class="fab fa-angular"></i></a>  
                      </li>
                  </ul>
            </div>
            </div>
        </div>

        <div class="col-md-9">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
             <li class="breadcrumb-item" aria-current="page">About</li>
            </ol>
            </nav>
            <div class="my-3 ml-2"> 
                 <h2 class="display-4">Hi! I'm Harish Mehra</h2>
            </div>
            <div class="mb-2">
                <p class="px-2 lead">I'm an entreprenuer building ZinetGo in Bangalore. I love science, startups, travel & photography. I use this site to write and share my experiences with the world. And I occassionly get into training and mentoring people.
</p>
            </div>
            <hr>
            <div class="project-sidebar-block">
                <h2 class="display-4 ml-2">About This Project</h2>
                <p class="p-2 lead">I started this project to showcase how to build a portfolio app using MEAN to my students. And since then, this has been one of the makor project that always mention during the sessions. This project includes all the aspects of the full stack development. A very small project though but can be really good to start learning MEAN.<br><br>
                I am using Bootstrap, Node.js & Express js to build this.
                </p>
            </div>
            <hr>
            <div class="project-sidebar-block">
                <h2 class="display-4 ml-2">Project Timelines</h2>
                <p class="p-2 lead">In this section we will discuss how much time it will take to build this project, followed by a steo by step guide.</p>
            </div>
            <div>
              <ul>
                <li><a href="#" title="Static Portfolio Site">Step 1: Static Portfolio Site - Using Bootstrap 4</a></li>
                <li><a href="#" title="Rewrite the static site using Node">Step 2: Rewrite the static site using Node, Express & Handlebars</a></li>
                <li><a href="#" title="Add some test data">Step 3: Add some test data to make it look like a dynamic site</a></li>
                <li><a href="#" title="Build all the pages">Step 4: Build all the pages - home, projects, blog, about, contact</a></li>
                <li><a href="#" title="Design the database">Step 5: Design the database using NoSQL & MongoDB</a></li>
                <li><a href="#" title="Data from DB">Step 6: Now we will actually display the data that comes from the DB</a></li>

                <li><a href="#" title="Integrate the API's">Step 8: Integrate the API's with our Express App</a></li>





              </ul>
            </div>
        </div>
        
          </div>
        </div>
      </div>
    </div>
  </div>