<div class="album bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-3 mt-4 project-sb">
            <div>
                <img src="/images/danika.jpg" height="200px" width="200px">
            </div>
                <hr>
                <div class="my-3 project-sidebar-block">
                    <h5>Social profiles</h5>
                </div>
             <div class="my-4">
                <ul class="social">  
                    <li>    
                         <a><i class="fab fa-linkedin"></i></a> 
                      </li>
                      <li>   
                         <a><i class="fab fa-github"></i></a> 
                       </li>
                        <li>    
                         <a><i class="fab fa-twitter"></i></a>  
                      </li>
                        <li>    
                         <a><i class="fab fa-facebook"></i></a>  
                      </li>
                       <li>    
                         <a><i class="fab fa-nodejs"></i></a> 
                      </li>
                  </ul> 
            </div>
        <hr>
            <div>
                <h2 class="static-side-bar">About this Project</h2>
                 <div class="my-4">
                   <ul class="social">  
                    <li>    
                         <a><i class="fab fa-node-js"></i></a> 
                      </li>
                      <li>   
                         <a><i class="fab fa-js"></i></a> 
                       </li>
                        <li>    
                         <a><i class="fab fa-html5"></i></a>  
                      </li>
                        <li>    
                         <a><i class="fab fa-css3"></i></a>  
                      </li>
                       <li>    
                         <a><i class="fab fa-angular"></i></a>  
                      </li>
                  </ul>
                 </div>
            </div>
        </div>

        <div class="col-md-9">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
             <li class="breadcrumb-item" aria-current="page">Contact</li>
            </ol>
            </nav>
                <h3>Contact Me</h3>
            <hr>
            <div>
              <p id="resp"></p>
             <form id="contactForm">
                  <div class="form-group">
                   <label for="name">Name</label>
                   <input type="text" name="name" class="form-control" id="name" placeholder="Name">
                 </div>
                 <div class="form-group">
                   <label for="email">Email address</label>
                   <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
                 </div>
                 <div class="form-group">
                 <label for="mobile">Mobile</label>
                 <input type="number" name="mobile" class="form-control" id="mobile" placeholder="Password">
               </div><br>
                 <div class="form-group">
               <textarea name="desc" class="form-control" id="description" rows="5" class="form-control" placeholder="Description"></textarea>
               </div>
               <button type="submit" class="btn btn-primary btn-lg btn-block" id="submitData">Submit</button>
             </form>
         </div>
            
        </div>
        
          </div>
        </div>
      </div>
      </div>
      <div>

<script src="/js/app.js"></script>