
        <div class="wallpaper">

        </div> 
        <div class="content"> 

             <aside class="side">

                <figure class="picture"> 
                    <div class="picture-shadow">
                         </div>   
                            <img id="pictureImage" class="picture-image" src="/images/danika.jpg"  srcset="images/danika.jpg 1x, images/alex@2x.jpg 2x, images/alex@3x.jpg 3x" alt="Portrait of Alex Jefferson" width="320"           height="320">
                            </figure> 
                         </aside>  
                         <main class="about"> 
                                <h1 class="name">Hi, I'm Harish Mehra</h1>
                                 <p class="job">UI developer</p> 
                                    <hr class="hr">  
                                      <div class="description">
                                         <p> I spend my time coding, try to get new things and make my coding more clear day by day.</p>  
                                       </div>   
                                        <div class="contact">    
                                             <a class="button" href="/projects">Explore More</a> 
                                        </div> 
                                    <div>
                                          <ul class="social">  
                                                <li>    
                                                   <a><i class="fab fa-twitter"></i></a>  
                                                </li>
                                                <li>   
                                                   <a><i class="fab fa-github"></i></a> 
                                                 </li>  
                                                 <li>    
                                                   <a><i class="fab fa-linkedin"></i></a> 
                                                </li>
                                                 <li>    
                                                   <a><i class="fab fa-nodejs"></i></a>  
                                                </li>
                                           </ul>
                                    </div>
                        </main>
                    </div> 